node_modules
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

.env
.env.local
.env.development
.env.test
.env.production

logs/
*.log
.log.

.vscode/
.idea/
*.suo
.ntvs
*.njsproj
*.sln
*.swp

.DS_Store
Thumbs.db

build/

*.sql
*.dump